[submodule "vim/pack/ivtpz/start/nerd-tree"]
	path = vim/pack/ivtpz/start/nerd-tree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/ivtpz/start/vim-javascript-syntax"]
	path = vim/pack/ivtpz/start/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "vim/pack/ivtpz/start/vim-javascript"]
	path = vim/pack/ivtpz/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/pack/ivtpz/start/syntastic"]
	path = vim/pack/ivtpz/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/pack/ivtpz/start/neoformat"]
	path = vim/pack/ivtpz/start/neoformat
	url = https://github.com/sbdchd/neoformat.git
[submodule "vim/pack/ivtpz/start/ack.vim"]
	path = vim/pack/ivtpz/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/pack/ivtpz/start/ctrlp.vim"]
	path = vim/pack/ivtpz/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/pack/ivtpz/start/vim-airline"]
	path = vim/pack/ivtpz/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/ivtpz/start/vim-airline-themes"]
	path = vim/pack/ivtpz/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
