[submodule "vim/pack/ivtpz/start/nerd-tree"]
	path = vim/pack/ivtpz/start/nerd-tree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/ivtpz/start/vim-javascript-syntax"]
	path = vim/pack/ivtpz/start/vim-javascript-syntax
	url = git@github.com:jelera/vim-javascript-syntax.git
[submodule "vim/pack/ivtpz/start/vim-javascript"]
	path = vim/pack/ivtpz/start/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "vim/pack/ivtpz/start/syntastic"]
	path = vim/pack/ivtpz/start/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
